.data-row {
  background-color: white;
  border-top: 1px solid #f5f7f9;
  padding: 0.2rem;

  &.flex {
    display: flex;

    .content {
      flex: 2 2 auto;
    }

    .img-wrap {
      flex: 0 0 auto;
      width: 2.34rem;
      margin-top: 0;

      .img {
        height: 1.46rem;
      }
    }
  }

  .data-title {
    text-align: left;
    font-size: var(--rv-font-size-lg);
  }

  .img-wrap {
    display: flex;
    margin-top: 0.12rem;

    .rv-image {
      margin: 0 1px;
      flex: 1;
    }
  }

  .content {
    height: initial;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 10px;
  }

  .new-title {
    line-height: .45rem;
    font-size: .34rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    white-space: normal;
    word-break: break-word;
    overflow: hidden;
    text-align: left;
  }

  .detail {
    margin-top: 0.12rem;
    text-align: left;

    &>div {
      display: inline-block;
      margin-right: 0.12rem;
      font-size: 0.23rem;
      color: var(--rv-gray-6);
    }

    .news-tag {
      color: #ee1a1a;
    }

    em {
      color: #ee1a1a;
    }
  }

}
