.app {
  text-align: center;
  margin: 0 auto;
  min-width: 320px;
  max-width: 768px;

  .app-content {
    min-height: calc(100vh - 48px);
    background-color: #fff;
    font-size: calc(10px + 2vmin);
    color: #333;

    .rv-swiper {
      overflow: auto;
    }

    .rv-swiper__slide {
      min-height: 100vh;
      padding: 1px 0 20px;
      background: #eee;
    }

    .rv-tab--active {
      color: #ef4645;
    }

    .rv-tabs__line {
      background-color: #ef4645;
    }
  }
}
