.app {
  // text-align: center;
  margin: 0 auto;
  min-width: 320px;
  max-width: 768px;

  .app-content {
    // min-height: calc(100vh - 48px);
    min-height: 100vh;
    background-color: #fff;
    font-size: calc(10px + 2vmin);
    color: #333;

    .rv-swiper {
      overflow: auto;
    }

    .rv-swiper__slide {
      // min-height: 100vh;
      // padding: 1px 0 20px;
      // background: #eee;
    }

    .rv-tab--active {
      color: #ef4645;
    }

    .rv-tabs__line {
      background-color: #ef4645;
    }
  }
  .pageLoading {
    text-align: center;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }
}

// 主题样式覆盖
.rv-nav-bar {
  background-color: var(--rv-red) !important;
}

.rv-nav-bar .rv-icon,
.rv-nav-bar__text {
  color: var(--rv-white) !important;
}
